* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/background-img.png);
}

header {
  background-color: #1d1f20;
  width: 100%;
  height: 222px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #323536;
}

.line1 {
  display: flex;
  justify-content: space-around;
}

.line1 ul {
  display: flex;
  list-style-type: none;
  margin-top: 5px;
}

.line1 ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Mukta", sans-serif;
  margin: 0 22px 0 0;
}

.line1 ul li a:hover {
  color: #89996b;
}

.phone_number p {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Mukta", sans-serif;
  padding: 0 22px 0 0;
  margin-top: 5px;
}

.logo {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.line2 {
  display: flex;
  justify-content: space-evenly;
}

.search-box {
  height: 50px;
  width: 800px;
  border: 1px solid #4a4c4d;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
}

.search-btn {
  background-image: url(./assets/search_widget.png);
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: white;
  font-size: 15px;
  font-family: "Mukta", sans-serif;
}

.bag {
  height: 50px;
  width: 80px;
  border: 1px solid #4a4c4d;
  border-radius: 14px;
  background-color: #89996b;
  background-image: url(./assets/bag_widget.png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  transition: background-color 0.5s;
  display: flex;
}

.bag a {
  align-self: stretch;
  justify-self: stretch;
}

.bag:hover {
  background-color: #c3664b;
}

.line3 {
  display: flex;
  justify-content: space-evenly;
}

.line3 ul {
  display: flex;
  list-style-type: none;
}

.nav_bar {
  justify-content: space-between;
  width: 800px;
}

.nav_bar li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.nav_bar li::before {
  content: "";
  position: absolute;
  background-color: rgb(135, 44, 44, 0);
  height: 5px;
  width: 100px;
  margin: 0 0 0 -10px;
  transition: 0.3s;
}

.nav_bar li:hover::before {
  background-color: #89996b;
  width: 100px;
  margin: 30px 0 0 -10px;
}

#top-menu .active::before {
  content: "";
  position: absolute;
  background-color: #89996b;
  height: 5px;
  width: 100px;
  margin: 30px 0 0 -10px;
  z-index: 999;
}

.social {
  margin: 0 0 10px 0;
  width: 195px;
  justify-content: space-between;
}

.social li a div {
  background-color: #c3664b;
  border-radius: 620px;
  width: 35px;
  height: 35px;
  transition: width 0.5s;
}

.social li a div:hover {
  width: 50px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.widgets {
  margin-top: 30px;
  height: 815px;
  width: 62%;
  display: grid;
  gap: 30px;
  grid-template-areas:
    "wid-1 wid-1 wid-1 wid-1"
    "wid-1 wid-1 wid-1 wid-1"
    "wid-2 wid-2 wid-3 wid-3";
}

.wid-1 {
  background-color: #6a8a99;
  grid-area: wid-1;
}
.wid-2 {
  background-image: url(./assets/banner_1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  grid-area: wid-2;
}
.wid-3 {
  background-image: url(./assets/banner_2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  grid-area: wid-3;
}

.fp {
  margin-top: 50px;
  width: 80%;
}

.nameofsection {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  margin: 0 0 50px 0;
}

.nameofsection::after {
  content: "";
  position: absolute;
  background-color: #4a4c4d;
  height: 2px;
  width: 400px;
  margin: 45px 0 0 -350px;
}

.card-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px 0;
  max-width: 270px;
}

.card-img {
  background: url(./assets/card-img-example.webp) no-repeat center;
  background-size: contain;
  height: 270px;
  width: 270px;
  background-color: #1d1f20;
  display: flex;
}

.card-img a {
  height: 270px;
  width: 270px;
}

.card-name {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card-desc {
  color: #767879;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.amount {
  color: white;
  font-size: 20px;
}

.addtocart {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  height: 40px;
  width: 100px;
  font-size: 10px;
  text-align: center;
  padding-top: 11px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.pc {
  margin-top: 50px;
  height: 543px;
  width: 100%;
  background-color: #1d1f20;
  display: flex;
  justify-content: center;
}

.pc-c {
  margin-top: 100px;
  width: 62%;
}

.pc-cc {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 220px;
  gap: 60px;
}

.topic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date {
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.trp {
  height: 500px;
}

footer {
  height: 170px;
  background-color: #1d1f20;
  display: flex;
  justify-content: center;
}

.footer {
  margin-top: 50px;
  width: 62%;
  display: grid;
  grid-template-areas: "a b" "c d";
}

.ya-ustal {
  color: #838688;
  font-size: 11px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.vcard {
  height: 36px;
  display: flex;
  align-items: center;
}

.vcard-img {
  background-image: url(./assets/location-img.png);
  height: 35px;
  width: 35px;
  background-size: cover;

  margin-right: 30px;
}

.vcard-img-2 {
  background-image: url(./assets/phone-img.png);
  height: 35px;
  width: 35px;
  background-size: cover;

  margin-right: 30px;
}

.adresss {
  color: white;
  font-size: 11px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}


.active-bag {
  background-color: #c3664b;
}